*{
    margin: 0;
    padding: 0;
}
.container{
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
}
nav{
    height: 11%;
    width: 100%;
    border-bottom: 2px solid rgb(10, 28, 166);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(34, 110, 232);
    color: white;
    
}

.todoBox{
    width: 100%;
    height: 87%;
    }
.form{
    width: 100%;
    height:8% ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.form input{
    width: 60%;
    height: 1cm;
    border: none;
    outline: none;
    background-color: rgb(222, 222, 222);
    padding-left: 0.2cm;
    font-size: 18px;
    border-radius: 5px;
}
.form button{
    width: 2cm;
    border: none;
    background-color: rgba(67, 109, 234, 0.888);
    height: 1cm;
    font-size: 18px;
    color: white;
    border-radius: 5px;

}
.error{
    display: none;
    color: red;
    width: 100%;
    height: 1cm;
   font-size: 20px;
    
    justify-content: center;
    align-items: center;

}
ul{
    border: 2px dashed rgb(97, 108, 210);
    border-radius: 10px;
    padding: 10px 0;

}
.taskBox{
    
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(209, 244, 255);
}
.taskBox .todos , .todos2{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90%;
    gap: 10px;
    
}


.task , .todos2 > .task{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 5px 0;
    gap: 10px;
}
.task i{
    color: red;
    font-size: 18px;
}
.task input{
    width: 0.5cm;
    height: 0.5cm;
}
.taskBox .todos .task li , .todos2 .task li{
    list-style: none;
   
    height: 100%;
    width: 100%;
   display: flex;
   justify-content: space-between;
  
   padding: 5px;
   align-items: center;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 0.2cm;
    background-color: white;
}
.taskBox .todos button{
    width: 1cm;
    height: 0.8cm;

}

.todos2{
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
}
@media (max-width:550px) {
    .taskBox{
        flex-direction: column;
        gap: 10px;
    }
   .taskBox .todos{
        width: 90%;
    }.todos2{
        width: 90%;
    }
}